.default,.red {
    margin: 20px 0 20px 0;
    background-color: rgb(79, 98, 108);
    border-radius: 10px;
    color:white;
    cursor: pointer;
    min-width: 50px;
    font-size: 15px;
    min-height: 30px;
    padding: 0 15px;
}

.default:disabled {
    opacity: 0.5;
    cursor: default;
}

/*.default:focus {*/
/*    background-color: deepskyblue;*/
/*}*/

.red {
    background: red;
}

.changeButton {
    margin-left: 10px;
}

.sortButton {
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    min-height: auto;
    min-width: auto;
    font-weight: bolder;
    padding: 0 8px;
    margin: 0;
}

.sortButton:last-child {
    margin-left: 10px;
}

.deleteButton, .updateButton, .cardButton, .learnButton {
    border-radius: 5px;
    color:white;
    cursor: pointer;
    min-width: 70px;
    min-height: 28px;
    font-size: 15px;
    padding: 0 10px;
    margin: 5px 0;
}

.deleteButton:nth-child(odd), .updateButton:nth-child(odd), .cardButton:nth-child(odd), .learnButton:nth-child(odd) {
    margin-right: 5px;
}

.deleteButton {
    background-color: #ec5068;
}

.updateButton {
    background-color: #7373ea;
}

.learnButton {
    background-color: dodgerblue;
}

.cardButton{
    background-color: dodgerblue;
}