.cardsBlock {
    display: flex;
    flex-direction: column;
}

.CardsWrapper {
    display: flex;
    justify-content: center;
}

.CardsContainer {
    display: flex;
    height: 500px;
    min-width: 700px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    margin: 0 100px;
}

.titleCardsBlock{
    padding: 10px;
    font-size:larger;
    text-align: center;
}

.CardsTableContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}