.CardsContainer {
    display: flex;
    max-width: 1250px;
    background-color: white;
    box-shadow: 0 8px 32px 0 rgba(34, 60, 80, 0.4);
    border-radius: 10px;
}

.cardsBlock {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.CardsWrapper {
    display: flex;
    justify-content: center;
}

.titleCardsBlock{
    padding: 20px 10px;
    font-size: 18px;
    text-align: center;
}

.CardsTableContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}