.header{
    background-color: rgb(249, 253, 253);
}

.headerContainer{
    max-width: 950px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.headerBlock{
    display: flex;
    align-items: center;
}
.itemMenu, .logout {
    padding: 0 30px;
    font-size: 16px;
}
.itemMenu a{
    color: rgb(159, 194, 210);
}
.itemMenu a.active{
    color: rgb(79, 98, 108);
}

.title{
    font-size: 200%;
}