.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.text {*/
/*    font-size: 14px;*/
/*    */
/*}*/
.buttonBlock,.pageBlock{
    margin-bottom: 20px;
}
.currentNumber {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
}

.page {
    font-weight: 800;
    display: inline-block;
    text-align: center;
    min-width: 45px;
    padding: 10px 0;
    font-size: 16px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    color:rgb(79, 98, 108);

    /*&:first-child {*/
    /*    border-radius: 10px 0 0 10px;*/
    /*}*/
    /*&:last-child {*/
    /*    border-radius: 0 10px 10px 0;*/
    /*}*/
}

.selectPage {
    border: 2px solid rgb(79, 98, 108);
    color: #fff;
    display: inline-block;
    font-weight: 800;
    background-color: rgb(159, 194, 210) !important;
}

/*.page:first-child {*/
/*    border-radius: 10px 0 0 10px;*/
/*}*/

/*.page:last-child {*/
/*    border-radius: 0 10px 10px 0;*/
/*}*/

.button {
    color: #fff;
    font-size: 14px;
    background-color: rgb(79, 98, 108);
    /*padding: 6px 12px;*/
    padding: 3px;
    border-radius: 8px;
    margin: 0 10px;
    white-space: nowrap;
    /*&:hover {*/
    /*    background-color: #00aa00;*/
    /*    color: #fff;*/
    /*    text-shadow: #fff 0 0 4px;*/
    /*    box-shadow: #009900 0 0 15px;*/
    /*}*/
    /*&:disabled {*/
    /*    background-color: #555;*/
    /*    text-shadow: none;*/
    /*    box-shadow: none;*/
    /*    cursor: auto;*/
    /*}*/
}

.button:hover {
    background-color: rgb(79, 98, 108);
    color: #fff;
    text-shadow: #fff 0 0 4px;
    box-shadow:rgb(79, 98, 108) 0 0 5px;
}

.button:disabled {
    background-color: #555;
    text-shadow: none;
    box-shadow: none;
    cursor: auto;
}
