.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonBlock, .pageBlock{
    margin-bottom: 20px;
}

.pageBlock {
    display: flex;
    align-items: center;
    height: 45px;
}

.currentNumber {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
}

.page {
    font-weight: 800;
    display: inline-block;
    text-align: center;
    min-width: 45px;
    padding: 10px 0;
    font-size: 16px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    color:rgb(79, 98, 108);
}

.selectPage {
    border: 2px solid rgb(79, 98, 108);
    color: #fff;
    display: inline-block;
    font-weight: 800;
    background-color: rgb(159, 194, 210) !important;
    cursor: default;
}

.button {
    color: #fff;
    font-size: 14px;
    background-color: rgb(79, 98, 108);
    padding: 3px;
    border-radius: 8px;
    margin: 0 10px;
    white-space: nowrap;
}

.button:hover {
    background-color: rgb(79, 98, 108);
    color: #fff;
    text-shadow: #fff 0 0 4px;
    box-shadow:rgb(79, 98, 108) 0 0 5px;
}

.button:disabled {
    background-color: #555;
    text-shadow: none;
    box-shadow: none;
    cursor: auto;
}
