.table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 10px 0;
}
th, td {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: rgb(79, 98, 108);
    color: rgb(114, 149, 162);
    padding: 10px;
}

th {
    background: rgb(159, 194, 210);
    color: white;

}

